PROJECT_ID=your-gcp-project-id
REGION=asia-southeast2
SERVICE_NAME=webaihebat
ARTIFACT_REPOSITORY=webaihebat
DOMAIN_ROOT=aihebat.com
DOMAIN_WWW=www.aihebat.com

CONTACT_RECEIVING_EMAIL=admin@aihebat.com
NEWSLETTER_RECEIVING_EMAIL=admin@aihebat.com
ASSESSMENT_RECEIVING_EMAIL=admin@aihebat.com
SENDER_EMAIL=no-reply@aihebat.com
SENDER_NAME=AIHebat Web
MAIL_PROVIDER=smtp
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_ENCRYPTION=tls
SMTP_USERNAME=admin@mamastoria.com
ALLOWED_HOSTS=aihebat.com,www.aihebat.com
ENABLE_FIRESTORE_LOG=true
FIRESTORE_COLLECTION_CONTACT=contact_submissions
FIRESTORE_COLLECTION_NEWSLETTER=newsletter_subscriptions
FIRESTORE_COLLECTION_ASSESSMENT=assessment_submissions
FIRESTORE_COLLECTION_VISITOR=visitor_counters
VISITOR_COUNTER_START=999

SENDGRID_SECRET_NAME=sendgrid-api-key
SMTP_PASSWORD_SECRET_NAME=smtp-password
